{% block payment_form %}

    <ul id="conekta_payment_error">

    </ul>

    {{ form_start(conekta_form, {action: url(conekta_execute_route), attr: {"id" : "card-form", "method": "POST"}}) }}
    <span class="payment-errors"></span>

    <div class="form-row">
        <label>
            <span>Card name</span>
            {{ form_widget(conekta_form.credit_card_name, {'attr': {'data-conekta': 'card[name]'}}) }}
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Card number</span>
            {{ form_widget(conekta_form.credit_card_number, {'attr': {'data-conekta': 'card[number]'}}) }}
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>CVC</span>
            {{ form_widget(conekta_form.credit_card_security, {'attr': {'data-conekta': 'card[cvc]'}}) }}
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Expiration (MM/YYYY)</span>
            {{ form_widget(conekta_form.credit_card_expiration_month, {'attr': {'data-conekta': 'card[exp_month]'}}) }}
        </label>
        <span> / </span>
        {{ form_widget(conekta_form.credit_card_expiration_year, {'attr': {'data-conekta': 'card[exp_year]'}}) }}
    </div>

    <button type="submit" id="payment-submit">Submit Payment</button>

    {{ form_end(conekta_form) }}

{% endblock payment_form %}